{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="container">
    <div id="sobre-nosotros" class="section">
        <h2>Sobre nosotros</h2>
        
    </div>
    <div id="propiedades-venta" class="section">
        <h2>Propiedades en venta</h2>
    </div>
    <div id="propiedades-alquiler" class="section">
        <h2>Propiedades en alquiler</h2>
    </div>
    <div id="propiedades-vacacional" class="section">
        <h2>Propiedades en alquiler vacacional</h2>
    </div>
</div>
{% endblock %}

