{% extends 'base.html.twig' %}

{% block title %}Guardar Propiedad{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Nueva Propiedad</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <form method="post" action="{{ path('app_create') }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Título:</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Descripción en dos palabras" required>
            <small class="form-text text-muted">Descripción en dos palabras</small>
        </div>

        <div class="form-group">
            <label for="area">Área:</label>
            <input type="text" class="form-control" id="area" name="area" required>
        </div>

        <div class="form-group">
            <label for="area">Referencia:</label>
            <input type="text" class="form-control" id="reference" name="reference" required>
        </div>

        <!-- Precio, Tipo de operación y Destacado en la misma fila -->
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="price">Precio:</label>
                <input type="number" class="form-control" id="price" name="price" step="0.01" required>
            </div>
            <div class="form-group col-md-4">
                <label for="operation_type">Tipo de operación:</label>
                <select class="form-control" id="operation_type" name="operation_type" required>
                    <option value="Venta">Venta</option>
                    <option value="Alquiler">Alquiler</option>
                    <option value="Alquiler Vacacional">Alquiler Vacacional</option>
                </select>
            </div>
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="outstanding" name="outstanding">
                        <label class="form-check-label" for="outstanding">Destacado</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="observation_price">Observación en el precio (opcional):</label>
            <input type="text" class="form-control" id="observation_price" name="observation_price" >
        </div>

        <div class="form-group">
            <label for="short_description">Descripción corta:</label>
            <textarea class="form-control" id="short_description" name="short_description" rows="2" required></textarea>
        </div>

        <div class="form-group">
            <label for="long_description">Descripción larga:</label>
            <textarea class="form-control" id="long_description" name="long_description" rows="4" required></textarea>
        </div>

        <hr>
        <h4>Características del inmueble</h4>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="price">Habitaciones:</label>
                <input type="number" class="form-control" id="bedrooms" name="bedrooms" required>
            </div>
            <div class="form-group col-md-4">
                <label for="price">Baños:</label>
                <input type="number" class="form-control" id="bathrooms" name="bathrooms" required>
            </div>
            <div class="form-group col-md-4">
                <label for="price">Metros cuadrados:</label>
                <input type="number" class="form-control" id="meters" name="meters" required>
            </div>
            <div class="form-group col-md-4">
                <label for="price">Años antiguedad:</label>
                <input type="number" class="form-control" id="years" name="years" required>
            </div>
            <div class="form-group col-md-4">
                <label for="price">Orientación:</label>
                <input type="text" class="form-control" id="orientation" name="orientation" required>
            </div>
            <div class="form-group col-md-4">
                <label for="price">Estado de conservación:</label>
                <input type="text" class="form-control" id="state_conservation" name="state_conservation" required>
            </div>
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="terrace" name="terrace">
                        <label class="form-check-label" for="terrace">Terraza privada</label>
                    </div>
                </div>
            </div>
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="toilet" name="toilet">
                        <label class="form-check-label" for="toilet">Aseo</label>
                    </div>
                </div>
            </div>
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="privateGarden" name="privateGarden">
                        <label class="form-check-label" for="pricateGarden">Jardin privado</label>
                    </div>
                </div>
            </div>
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="furnished" name="furnished">
                        <label class="form-check-label" for="furnished">Amueblado</label>
                    </div>
                </div>
            </div>
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exterior" name="exterior">
                        <label class="form-check-label" for="exterior">Exterior</label>
                    </div>
                </div>
            </div>
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="parking" name="parking">
                        <label class="form-check-label" for="parking">Cochera</label>
                    </div>
                </div>
            </div>
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="air" name="air">
                        <label class="form-check-label" for="air">Aire acondicionado</label>
                    </div>
                </div>
            </div>
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="heating" name="heating">
                        <label class="form-check-label" for="heating">Calefacción</label>
                    </div>
                </div>
            </div>
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="furnished_kitchen" name="furnished_kitchen">
                        <label class="form-check-label" for="furnished_kitchen">Cocina amueblada</label>
                    </div>
                </div>
            </div>
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="storage_room" name="storage_room">
                        <label class="form-check-label" for="storage_room">Trastero</label>
                    </div>
                </div>
            </div>
            
            
        </div>

        <hr>
        <h4>Características del Edificio</h4>

        <div class="form-row">
            
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="community_garage" name="community_garage">
                        <label class="form-check-label" for="parking">Parking comunitario</label>
                    </div>
                </div>
            </div>
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="pool" name="pool">
                        <label class="form-check-label" for="pool">Piscina comunitaria</label>
                    </div>
                </div>
            </div>
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="elevator" name="elevator">
                        <label class="form-check-label" for="elevator">Ascensor</label>
                    </div>
                </div>
            </div>
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="garden" name="garden">
                        <label class="form-check-label" for="garden">Zonas verdes</label>
                    </div>
                </div>
            </div>
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="access" name="access">
                        <label class="form-check-label" for="access">Acceso minusválidos</label>
                    </div>
                </div>
            </div>
            
            
        </div>

        <hr>
        <h4>Características Extra</h4>
        <div class="form-row">
            
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="supplies" name="supplies">
                        <label class="form-check-label" for="supplies">Alta en suministros realizada</label>
                    </div>
                </div>
            </div>
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="porter" name="porter">
                        <label class="form-check-label" for="porter">Portero</label>
                    </div>
                </div>
            </div>
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="pets" name="pets">
                        <label class="form-check-label" for="pets">Admite mascotas</label>
                    </div>
                </div>
            </div>
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="privatePool" name="privatePool">
                        <label class="form-check-label" for="privatePool">Piscina privada</label>
                    </div>
                </div>
            </div>
            <div class="custom-checkbox">
                <div class="form-group col-md-4 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="alarm" name="alarm">
                        <label class="form-check-label" for="alarm">Alarma</label>
                    </div>
                </div>
            </div>
            
            
        </div>

        <hr>

        <div class="form-group">
            <label for="images">Imágenes:</label>
            <div class="input-group">
                <label for="images" class="btn btn-primary">Subir imágenes</label>
                <input type="file" class="form-control-file d-none" id="images" name="images[]" multiple accept="image/*">
                <span id="file-selected" class="ml-2 text-muted">Ningún archivo seleccionado</span>
            </div>
        </div>

        <script>
            document.getElementById('images').addEventListener('change', function () {
                const files = this.files;
                const fileNames = files.length > 0 ? `${files.length} archivo(s) seleccionado(s)` : 'Ningún archivo seleccionado';
                document.getElementById('file-selected').textContent = fileNames;
            });
        </script>
        

        <button type="submit" class="btn btn-primary">Guardar Propiedad</button>
    </form>

</div>
{% endblock %}


