body {
    background-color: rgb(255, 255, 255);
}

body {
    background-color: white !important; /* Fondo blanco */
    color: rgb(17, 230, 31); /* Color de texto por defecto */
}
html {
    scroll-behavior: smooth;
}
.section {
    padding: 20px; /* Espaciado interno para cada sección */
    text-align: center;
}

.section:nth-child(1) {
    background-color: white;
}

.section:nth-child(2) {
    background-color: #f8f9fa; /* Gris claro */
}

.section:nth-child(3) {
    background-color: white;
}

.section:nth-child(4) {
    background-color: #f8f9fa; /* Gris claro */
}